<div class="textArea">
    <h1>Designed with<span class="red"> ❤</span> by<a href="https://github.com/healer-op"><span class="colored">
                Healer</span></a> |
        Distributed by <a href="https://github.com/healer-op"><span class="colored">Healer</span></a>
    </h1>
</div>