<div class="asideArea">
    <div class="box socialMedia">
        <div class="post-container">
            <h1>Social Media</h1>
            <div class="post">
                <a href=""><i class="fab fa-facebook-f"></i></a>
                <a href=""><i class="fab fa-instagram"></i></a>
                <a href=""><i class="fab fa-twitter"></i></a>
                <a href=""><i class="fab fa-youtube"></i></a>
                <a href="https://github.com/healer-op" target="_blank"><i class="fab fa-github"></i></a>
            </div>
        </div>
    </div>
    <div class="box searchBox">
        <div class="post-container">
            <h1>Search</h1>
            <form class="post" action="/search" method="get">
                <input placeholder="Search this website" name="s" type="text">
                <button class="ti-search search-btn" type="submit">Search</button>
            </form>
        </div>
    </div>
    <div class="box popularPost">
        <div class="post-container">
            <h1>Popular Games</h1>
            <div class="post">
                <img src="/img/p15.jpg">
                <h2><a href="/d/stranded-deep-online/">STRANDED DEEP - DOWNLOAD</a></h2>
            </div>
            <div class="post">
                <img src="/img/p17.jpg">
                <h2><a href="/d/red-dead-redemption-2-2/">RED DEAD REDEMPTION 2 - DOWNLOAD</a></h2>
            </div>
            <div class="post">
                <img src="https://i0.wp.com/game3rb.com/wp-content/uploads/2022/11/Marvels-Spider-Man-Miles-Morales.jpeg?resize=600%2C340&ssl=1">
                <h2><a href="/d/marvels-spider-man-miles-morales-2/">Download Marvels Spider Man Miles Morales</a></h2>
            </div>
        </div>
    </div>
    <div class="box aboutMe">
        <div class="post-container">
            <h1>About Me</h1>
            <div class="post">
                <img src="https://avatars.githubusercontent.com/u/65026164?v=4">
                <div class="textArea">
                    <h2><a href="https://github.com/healer-op">Healer-op</a></h2>
                    <h2><a href="https://github.com/healer-op">View complete profile</a></h2>
                </div>
            </div>
        </div>
    </div>
</div>